[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{tsconfig.spec.json,tsconfig.app.json,tsconfig.json,tsconfig.e2e.json}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[*.sass]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{secret_gc_db_migrations,*.yml,*.yaml}]
indent_style=space
indent_size=2

