grpcio==1.54.3
oauth2client==4.1.3
Flask==2.2.5
sqlalchemy==1.4.48
gunicorn==22.0.0
psycopg2-binary==2.9.6
numpy==1.24.3
scipy==1.10.1
pillow==10.3.0
moviepy==1.0.3
google-cloud-storage==1.35.1
google-api-python-client==1.12.3
google-cloud-logging==1.15.1
flask_limiter==1.4
Flask-SSLify==0.1.5
requests==2.31.0
imageio==2.9.0
pyotp==2.2.6
analytics-python==1.2.9
python-dateutil==2.8.2
memory-profiler==0.55.0
tenacity>=6.0.0
botocore==1.19.63
scaleapi==0.3.1
cryptography==42.0.4
colorlog==4.2.1
labelbox==3.47.1
boto3==1.16.63
alembic==1.4.2
azure-storage-blob==12.13.0
git+https://github.com/diffgram/pypcd
psutil==5.6.6
SQLAlchemy-serializer==1.4.1
newrelic
nltk
markupsafe==2.1.2
gdal-utils
GDAL==3.4.1
pika
azure-ai-textanalytics
python-keycloak
pyjwt==2.6.0
imageio-ffmpeg==0.2.0
google-cloud-aiplatform
flasgger
pymongo
python-dotenv==1.0.0