.image_clickable:hover {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}
html{
  overflow-y: auto;
}
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.nowrap {
  white-space: nowrap;
}
/*
  nowrap:
  https://github.com/vuetifyjs/vuetify/issues/6481
*/

.has-changed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
  /*https://github.com/vuetifyjs/vuetify/issues/9130 */
}
