grpcio==1.54.3
python-dateutil==2.8.2
Flask==2.2.5
six==1.15.0
sqlalchemy==1.4.48
psycopg2-binary==2.9.6
numpy==1.24.3
scipy==1.10.1
pillow==10.0.1
proglog==0.1.9
google-cloud-storage==1.35.1
google-api-python-client==1.12.3
google-cloud-logging==1.15.1
flask_limiter==1.4
Flask-SSLify==0.1.5
requests==2.31.0
imageio==2.9.0
analytics-python==1.2.9
cryptography==42.0.4
colorlog==4.2.1
boto3==1.16.4
azure-storage-blob==12.13.0
lark
SQLAlchemy-serializer==1.4.1
newrelic
markupsafe==2.1.2
pika
python-keycloak
pyjwt==2.6.0
opencv-python==4.7.0.72
torchvision==0.15.1
transformers==4.36.0
deepchecks[vision]
memory-profiler==0.55.0
opencv-contrib-python==4.7.0.72
labelbox==3.47.1
google-cloud-aiplatform
azure-ai-textanalytics
newrelic
apscheduler==3.10.1
pymongo
python-dotenv==1.0.0